<app-navbar>

</app-navbar>
<div >
    <div class="title w-[960px] m-auto mt-5 h-60   shadow-lg shadow-gray-700 text-red-600">
        <h2 class="text-center pt-10">WELCOME TO ELETRONIC SHOP CENTER!</h2>
        <P class="text-center text-2xl font-bold">You can find all thing in this site</P>
    </div>

    <div class="homeWrapper w-[960px] h-[100vh]  m-auto flex justify-between items-center text-red-700 ">

        <div class="content w-[300px] h-[100vh mt-10] ">
            <div class="img1 w-full h-[200px] rounded-lg"></div>
            <h4 class="text-orange-400 text-center">Part of computer</h4>
            <p class=" font-bold text-white text-justify ">Our local staff deliver 22 life skills and psychosocial support programs for vulnerable and at-risk children, youth, young mothers, herd boys, teachers and grandmothers.

                The goal of all programs is to support participants as they build their resilience and improve their well-being. Programs also respond to some of the most pressing issues in Lesotho, </p>
                <a class="text-black hover:font-bold hover:bg-blue-700 hover:cursor-pointer hover:text-white rounded-lg  pl-10 pr-10 pt-4 pb-4 bg-blue-600"  >More</a>
        </div>

        <div class="content w-[300px] h-[100vh mt-10]  ">
            <div class="img2 w-full h-[200px] rounded-lg"></div>
            <h4 class="text-orange-400 text-center">Part of Mobile</h4>
            <p class="font-bold text-white text-justify ">Our local staff deliver 22 life skills and psychosocial support programs for vulnerable and at-risk children, youth, young mothers, herd boys, teachers and grandmothers.

                The goal of all programs is to support participants as they build their resilience and improve their well-being. Programs also respond to some of the most pressing issues in Lesotho,
             </p>
             <a class="text-black hover:font-bold hover:bg-blue-700 hover:cursor-pointer hover:text-white rounded-lg  pl-10 pr-10 pt-4 pb-4 bg-blue-600"  >More</a>
        </div>

        <div class="content w-[300px] h-[100vh mt-10] ">
            <div class="img3 w-full h-[200px] rounded-lg "></div>
            <h4 class="text-orange-400 text-center">Part of devices</h4>
            <p class="font-bold text-white text-justify ">Our local staff deliver 22 life skills and psychosocial support programs for vulnerable and at-risk children, youth, young mothers, herd boys, teachers and grandmothers.

                The goal of all programs is to support participants as they build their resilience and improve their well-being. Programs also respond to some of the most pressing issues in Lesotho, 
            </p>
            <a class="text-black hover:font-bold hover:bg-blue-700 hover:cursor-pointer hover:text-white rounded-lg  pl-10 pr-10 pt-4 pb-4 bg-blue-600"  >More</a>
        </div>

    </div>
</div>

<app-footer class="footer">
</app-footer>
